body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #0f0;
}

.navbar, .avatar-valkna, .objetivos, .alo, footer {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.navbar img, .avatar-valkna img {
    width: 50px;
    height: 50px;
}

.avatar-valkna {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar-valkna img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.avatar-valkna h4, .avatar-valkna h4 a {
    color: #0f0;
    text-decoration: none;
}

.objetivos, .alo {
    text-align: justify;
}

footer {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .navbar, .avatar-valkna, .objetivos, .alo, footer {
        width: 100%;
    }
}
